#invalidLink, #f {
    width: 60%;
    margin: auto;
    padding: 30px;
    text-align: center;
    border-top: 30px solid rgb(30, 30, 30);
    border-right: 30px solid white;
    border-bottom: 30px solid rgb(233, 29, 99);
    border-left: 30px solid white;
    color: rgb(30, 30, 30);
    transition: 0.2s;
}

#invalidLink {
    margin: 100px auto 10px auto;
    font-size: 20px;
    font-weight: 700;
}

#f {
    margin-bottom: 10px;
    cursor: pointer;
}

#f:hover {
    padding: 20px;
}

@media(max-width: 700px) {

    #invalidLink, #f {
        width: 90%;
    }
    
}